.GifDetails {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Gif {
	padding: 15px;
	list-style-type: none;
	border-radius: 5%;
}

.Button {
	background-color: #86aeff;;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 10px;
}

.Expand {
	padding-top: 20px;
}
